/* Base styles */
:root {
  --background-main: #000;
  --secondary-color: #fff;
  --alternate: #f00;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-main);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#loading-text {
  color: var(--secondary-color);
  font-size: 2rem;
  animation: fade-in-out 5s infinite;
}

@keyframes fade-in-out {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}

header {
  background: var(--background-main);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid white;
  padding: 0 20px;
}

header .logo {
  font-size: 1.8rem;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem;
}

nav ul li:hover a {
  text-decoration: underline;
}

.active-page a {
  text-decoration: underline var(--alternate);
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 1rem;
  margin-right: 20px;
  z-index: 100000;
  overflow:hidden;
}

.hamburger-line {
  width: 100%;
  height: 3px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.hamburger.active .hamburger-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .hamburger-line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}


