header {
    background: var(--background-main);
    color: var(--secondary-color);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    width: 100%;
    z-index: 1;
}

header .logo {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 20px;
}

nav {
  position: relative;
  padding-right: 1rem;
}

#nav-menu{
  padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.2rem;
}