.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
.Harlem-shake{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 80%;
    align-content: center;
}
.portfolio-item {
    z-index:0;
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 100%;
    align-content: center;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border: 1px solid white;
}

.portfolio-image {
    width: 30%;
    height: auto;
}

.portfolio-description{
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    padding: 1rem;
}

.Harlem-shake:hover{
  -webkit-animation: vibrate-1 0.2s linear 10 both;
	        animation: vibrate-1 0.2s linear 10 both;
}

.portfolio-item:hover{
    cursor: pointer;
    -webkit-animation: color-change-2x 2s linear both;
	        animation: color-change-2x 2s linear both;
    p,h3{
      -webkit-animation: color-change-text 2s linear both;
	        animation: color-change-text 2s linear both;
    }
}



