.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.portfolio-item {
    z-index:0;
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 40%
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio-image {
    width: 100%;
    height: auto;
}


.#project-link:hover{
  -webkit-animation: vibrate-1 0.2s linear 10 both;
	        animation: vibrate-1 0.2s linear 10 both;
}

.portfolio-item:hover{
    cursor: pointer;
    -webkit-animation: color-change-2x 2s linear both;
	        animation: color-change-2x 2s linear both;
    p,h3{
      -webkit-animation: color-change-text 2s linear both;
	        animation: color-change-text 2s linear both;
    }
}



