* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero-section {
    background: url('Longa1.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-section .hero-content {
    max-width: 600px;
}

.hero-section h1 {
    font-size: 3rem;
    margin: 0 ;
}

.hero-section p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.about-section, .portfolio-section, .contact-section {
    padding: 2rem;
    text-align: center;
}

.about-section h2, .portfolio-section h2, .contact-section h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.social-media {
    margin-top: 20px;
}

.social-button {
    margin: 0 10px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.facebook { background: #3b5998; }
.twitter { background: #1da1f2; }
.linkedin { background: #0077b5; }
.instagram { background: #e4405f; }
.github { background: #333; }

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 300px;
    text-align: center;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-link{
    text-decoration: none;
    color: #000;
}
.contact-section form input, .contact-section form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

.contact-section form button {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
