@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Manrope', sans-serif;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

:root {
    --primary-color: #333;
    --secondary-color: #fff;
    --accent-color: #0077b5;
    --facebook-color: #3b5998;
    --twitter-color: #1da1f2;
    --linkedin-color: #0077b5;
    --instagram-color: #e4405f;
    --github-color: #333;
    --background-main: #000000;
    --alternate: #ff3900;
}

/* Full-screen loading screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fade-out 2s forwards 3s;
}

/* Loading text */
#loading-text {
    font-size: 3rem;
    animation: tracking-out-expand 2s forwards 3s; /* 3 seconds delay to show the text */
}
/* Animation */
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Adjust based on nav bar height */
    opacity: 1;
  }
}

.slide-up-animation {
  animation: slide-in-bottom 1s forwards; /* 1s is the duration of the animation */
}
@keyframes slide-out-bottom {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(1000px);
      opacity: 0;
  }
}
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @keyframes slide-in-bottom {
      0% {
          -webkit-transform: translateY(2000px);
          transform: translateY(2000px);
          opacity: 0;
      }
      100% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
          opacity: 1;
      }
  }

  @keyframes slide-out-bottom {
      0% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
          opacity: 1;
      }
      100% {
          -webkit-transform: translateY(2000px);
          transform: translateY(2000px);
          opacity: 0;
      }
  }
}
*/
/* Slide-top animation */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@-webkit-keyframes tracking-out-expand {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      opacity: 0;
    }
}
@keyframes tracking-out-expand {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      opacity: 0;
    }
}

/* Fade-out animation */
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Marquee animation for scrolling text */
@keyframes scroll-horizontal {
    0% {
        transform: translateX(-3%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

  /*Vibration animation*/
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  
  @-webkit-keyframes color-change-2x {
    0% {
      background: var(--background-main);
    }
    100% {
      background: var(--alternate);
    }
  }

  @keyframes color-change-2x {
    0% {
      background:var(--background-main);
    }
    100% {
      background: var(--alternate);
    }
  }

  @-webkit-keyframes color-change-text {
    0% {
      color: var(--secondary-color);
    }
    100% {
        color: var(--background-main);
    }
  }
  
  @keyframes color-change-text {
    0% {
        color:var(--secondary-color);
    }
    100% {
        color: var(--background-main);
    }
  }
.scrollingtext {
    position: relative;
    white-space: nowrap;
    animation: scroll-horizontal 10s linear infinite;
    overflow-x: visible;
    color: var(--background-main);
}

#worktext{
    background: #ff3900;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    align-content: center;
    justify-content: center;
    width: 100%;
  }



body {
    font-family: Arial, sans-serif;
    background: url('unsplashbg') no-repeat center center/cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--secondary-color);
}

.contact-div{
  flex:1;
}

.about-section, .portfolio-section, .contact-section {
    padding: 2rem;
    text-align: center;
    /*background: url('unsplashbg') no-repeat center center/cover;*/
    color: var(--primary-color);
}

.about-section h2, .portfolio-section h2, .contact-section h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}



